<div style="margin:10px 0px 0px 10px">
  <!--
	<div style="text-align:center;font-size:1.1em;margin-bottom:5px">
		{{#view ASTool.RenameTextField value=name}}
			<span class="editable-name">Project {{name}}</span>
		{{/view}}
	</div>
  -->

  <!--
	<h4>Tasks</h4>
	<div>
		<div class="scrolling-container" style="max-height:600px">
			{{#each}}
				<div style="margin:4px 0px 4px 0px">
					{{view ASTool.ButtonView action="editSpider" argument=this.id label=this.id minWidth="82%" class="light-button"}}
          {{#if this.finished}}
					  {{view ASTool.ButtonView icon="ui-icon-check" class="blue-button"}}
          {{/if}}
  -->
					<!--{{view ASTool.ButtonView action="deleteSpider" argument=this icon="ui-icon-trash" class="red-button"}}-->
  <!--
				</div>
			{{else}}
				<h3>No tasks for this project.</h3>
			{{/each}}
		</div>
	</div>
  -->
</div>

<!--
<div style="margin-top:10px;text-align:center">
	{{view ASTool.ButtonView action="finishProject" icon="ui-icon-circle-arrow-n" label="Finish Project" class="blue-button big"}}
</div>
-->
<div style="margin-top:240px;text-align:center">
  <h1>Task Complete!</h1>
</div>
